<launch>
<param  name="dir" value="/home/ubuntu/Bearing-only" />
<param name="use_sim_time" value="false" />

<!-- visualization -->
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find auv_model)/urdf/auv_model.urdf" />
<!-- <include file="/opt/ros/melodic/share/usb_cam/launch/usb_cam-test.launch" /> -->
<node pkg="rviz"  type="rviz"  name="rviz"  args="-d $(find ukf_localization)/visualization/localization.rviz"></node>
<!-- <node pkg="rqt_plot" name="rqt_plot_location" type="rqt_plot" args="/Locater/Odom/pose/pose/position"></node> -->
<node pkg="rqt_plot" name="rqt_plot_beacon" type="rqt_plot" args="/State/beacon_pos"></node>
<node pkg="rqt_plot" name="rqt_plot_usbl_rpy" type="rqt_plot" args="/State/usbl_rpy"></node>
<node pkg="rqt_gui" name="rqt_gui" type="rqt_gui"></node>

<!-- record -->
<node pkg="rosbag" type="record" name="bag_record" args="/Locater/Odom /Locater/Truth /State /TrueState /Sensor/DVL /Sensor/AHRS /Sensor/Pressure /Sensor/USBLLONG /Sensor/USBLANGLES /Sensor/RECVIM -o /home/ubuntu/Bearing-only/bag/angle "></node>

<!-- code -->
<node 
    pkg="ukf_localization"  type="localization_node"  name="localization_node"  output="screen">
    <rosparam command = "load" file ="$(find ukf_localization)/config/config_large_process_noise.yaml"/>
</node>

<node pkg="ukf_localization"  type="traj_pub_node"  name="traj_pub_node"  output="screen"></node>

<!-- data -->
<node 
    pkg="ukf_localization"  type="pub_node"  name="pub_node"  output="screen">
    <rosparam command = "load" file ="$(find ukf_localization)/data_gen/config/data_param3.yaml"/>

</node>
</launch>